<div class="mb-5">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/users">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      </ul>
      <input class="form-control w-25 mr-sm-2" type="text" placeholder="Search" aria-label="Search" #search (keyup)="searched(search.value, $event)">
    </div>
  </nav>
</div>

<div class="container pt-5" *ngIf="usersService.ready">
<router-outlet></router-outlet>
</div>


<div class="loader d-flex justify-content-center" *ngIf="!usersService.ready">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
