<div class="mb-2">
  <div class="card">
    <a *ngIf="single" routerLink="/users" class="btn btn-primary backward"><i class="fa fa-angle-left mx-1"></i>Back Home</a>
    <img [src]="user.avatar" style="border-radius: 50%"
         class="card-img-top my-2 mx-auto" [class.w-50]="!single" [class.w-25]="single" alt="..."
          [class.animate__animated]="single"
          [class.animate__zoomIn]="single"
    >
    <div class="card-body">
      <div class="my-2"
           [class.animate__animated]="single"
           [class.animate__zoomIn]="single"
      >
        <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
        <a [attr.href]="'mailto:' + user.email">{{user.email}}</a>
      </div>
      <div class="text-center">
        <a class="btn btn-primary mx-auto" (click)="usersService.selectUser(user)" *ngIf="!single">Details</a>
      </div>
    </div>
  </div>
</div>
