<nav class="mt-3">
  <ul class="pagination justify-content-center">
    <li [ngClass]="disablePrev() ? 'page-item disabled': 'page-item' ">
      <button class="page-link" (click)="clickPrev()">Previous</button>
    </li>
    <li class="page-item active" aria-current="page">
      <span class="page-link">{{page}}</span>
    </li>
    <li [ngClass]="disableNext() ? 'page-item disabled': 'page-item' ">
      <button class="page-link" (click)="clickNext()">Next</button>
    </li>
  </ul>
</nav>
