<div class="card">
  <h5 class="card-header" *ngIf="header != null">{{header}}</h5>
  <h4 class="card-header pb-0 border-0" *ngIf="title != null">{{title}}</h4>
  <div class="card-body" [class.p-0]="noPadding">
    <ng-content></ng-content>
  </div>
  <div class="card-footer text-muted" *ngIf="footer">
    {{footer}}
  </div>
</div>
