
<div class="row">
  <ng-container *ngFor="let user of usersService.users; let i = index">
    <div class="col-md-4 mb-2 px-3 animate__animated animate__fadeInLeft" [ngClass]="'animate__delay_' + i">
      <app-user-card [user]="user"></app-user-card>
    </div>
  </ng-container>

</div>

<app-pagination [page]="usersService.page" [last]="usersService.last"
                (clickedNext)="usersService.getPage($event)"
                (clickedPrev)="usersService.getPage($event)"
></app-pagination>

