.pagination{
  position: fixed;
  right: 0;
  bottom: 0;
}

.animate__delay_0 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-delay: calc(var(--animate-delay)*0.5);
  animation-delay: calc(var(--animate-delay)*0.5);
}

.animate__delay_1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-delay: calc(var(--animate-delay)*1);
  animation-delay: calc(var(--animate-delay)*1);
}

.animate__delay_2 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-delay: calc(var(--animate-delay)*1.5);
  animation-delay: calc(var(--animate-delay)*1.5);
}

.animate__delay_3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-delay: calc(var(--animate-delay)*2);
  animation-delay: calc(var(--animate-delay)*2);
}


.animate__delay_4 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-delay: calc(var(--animate-delay)*2.5);
  animation-delay: calc(var(--animate-delay)*2.5);
}

.animate__delay_5 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-delay: calc(var(--animate-delay)*3);
  animation-delay: calc(var(--animate-delay)*3);
}
